:root{
    --shaddow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}

body {
    /* background-color: rgba(232, 233, 239, 1); */
    font-family: 'Roboto', sans-serif;
    
    /* background-color: #EAF6F6; */
    background-color: #f4f4f4;
}


/* ------- LOBBY STYLING -------- */

#logo {
    display: block;
    width: 100px;
    margin: 0 auto;
}


#lobby-container {
    display: flex;
    height: 100vh;
}

#left-container{
    display: flex;
    justify-content: center;
    max-width: 50%;
    align-items: center;
}


input[name="room"]::placeholder {
    text-transform: none; 
}

#form-container {
    text-align: center;
    flex-direction: column;
    max-width: 70%;
    margin-left: 250px;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin-right: 250px;
}

#image-container img {
    height: auto; 
    display: block;
    max-width: 90%; 
    max-height: 90%;
}

#form-container h1{
    font-size: 36px;
}

#form-container-p{
    font-size: 16px;
    margin-bottom: 40px; 
    color: #777;
    line-height: 25px;
    margin-left: 40px;
    margin-right: 40px;
}


.form-field label{
    font-size: 16px;
    line-height: 1.7em;
}

.form-field input {
    width: 100%;
    border: 2px solid rgba(198, 202, 219, 1);
    padding: 20px;
    border: none;
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    border-radius: 0;
}

.form-field input[type='submit'] {
    background-color: #38d39f;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease;
    height: 50px;
    margin-top: 40px;
}

.form-field input[type='submit']:hover {
    background-color: #258c70;
}


    

#lobby-icon-par {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #777;
}

#lobby-icons-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    bottom: 20px;
}

.lobby-icon-wa{
    height: 47px;
    width: 47px;
    cursor: pointer;
}

.lobby-icon{
    height: 50px;
    width: 50px;
    cursor: pointer;
} 


@media screen and (max-width:1080px){
    #lobby-container {
        flex-direction: column;
    }

    #left-container {
        max-width: 100%;
    }

    #form-container {
        margin-left: 0px;
        max-width: 95%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #image-container {
        margin-right: 0px;
        max-width: 100%;
    }

    #form-container-p {
        margin-left: 10px;
        margin-right: 10px;
    }

}

/* ------- ROOM STYLING -------- */

#room-name-wrapper{
    text-align: center;
    font-size: 18px;
}

#room-name-wrapper p{
    margin: 10px;
    color: #777;
}

#screen-share-section{
    display: grid;
    grid-gap: 10px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 25px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
    

#video-streams{
    display: grid;
    /* height: 85vh; */
    grid-gap: 10px;
    width: 75%;
    margin: 0 auto;

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.video-container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    border: 1px solid rgb(81, 81, 82);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198, 202, 219, 1);
    position: relative;
}

.video-player{
    height: 100%;
    width: 100%;
}

.video-player > * {
    border-radius: 5px;
}

.username-wrapper{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 14px;
    color: #fff;
}

/* @media screen and (max-width:1650px) {
    .video-container{
        flex-basis: 300px;
        min-height: 200px;
    }
} */

/* ---- BUTTONS ------ */

#controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
}

.control-icon{
    height: 20px;
    width: 20px;
    box-shadow: var(--shaddow);
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

#leave-btn{
    background-color: rgb(255, 80, 80, 1);
}

/* ------------- table ------------- */

#side-panel {
    float: right;
    top: 0;
    right: 0;
    width: 35%; /* Adjust the width as needed */
    height: 100%; /* Take full height of the viewport */
    overflow-y: auto; /* Add vertical scroll if content exceeds the height */
}

#main-panel {
    margin-top: 25px;
    width: 65%;
    float: left;
}

#side-panel {
    left:0; right:0;
    top: 50px;
    /* margin: auto; */
    width: 450px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color:#545454;
    box-shadow: 0 2px 6px 0 rgba(0,0,0, .3);
    max-height: 700px;
    overflow-y: auto;
}


.side-panel-header {
    padding: 20px 15px;
    text-align: center;
    position: relative;
}

.side-panel-title {
    font-size: 26px;
}

/* .table-body {
    overflow: auto; 
    height: 100px;
} */

/* .table-rows {
    margin: 100;
    padding: 10px 40px;
} */

#dynamic-table td{
    padding: 10px 5px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}




#dynamic-table th {
    padding: 40px 4px;
    text-align: center;
    transform: rotate(-45deg);
    white-space: nowrap;
    /* position: sticky; top: 0; z-index: 1; */
}

/* .table-rows:after {
    content: '';
    display: table;
    clear:both;
} */

/* .table-rows-even {
    background-color: #fff;
} */


#dynamic-table thead tr th {
    text-align: center;
    font-weight: bold;
    border-top: 0.5px solid #e4e3e3;
}

#dynamic-table tbody tr{
    border: 0.5px solid #e4e3e3;
    
}
#dynamic-table td:first-child {
    padding-left: 10px;
    align-items: center;
}



/* 
#dynamic-table {
    border-collapse: collapse;
    margin: 0 0;
    font-size: 1.2em;
}

#dynamic-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

#dynamic-table th,
#dynamic-table td {
    padding: 12px 8px;
    text-align: center;
}

#dynamic-table tbody tr{
    border-bottom: 1px solid #000000;
}

.dynamic-table-2 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.3em;
    min-width: 1000px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.dynamic-table-2 thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.dynamic-table-2 th,
.dynamic-table-2 td {
    padding: 12px 15px;
    text-align: center;
}

.dynamic-table-2 tbody tr{
    border-bottom: 1px solid #009879;
}

.dynamic-table-2 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.dynamic-table-2 tbody tr:last-of-type {
    border-bottom: 0.5px solid #009879;
} */



/* --- First Component --- */

#summary-title{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#myChartDiv {
    width: 25%;
    margin: 50px;
}

#myChartDiv2 {
    width: 50%;
    margin: 50px;
}

.firstComponent {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Second Component --- */

.X{
    margin: auto;
    padding: 1% 2%;
    max-width: 1440px;
    border-radius: 5px;
    /* background: #EAF6F6; */
    /* background: rgba(232, 233, 239, 1); */
    box-shadow: 0 2px 6px 0 rgba(0,0,0, .3);
}
.listTitle{
    text-align: center;
    /* font-family: 'Baloo Tamma', cursive; */
}
li{
    color: #2c3e50;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 1px;
    font-family: 'Raleway', serif;
}
/*SG = style grid*/
.SG{
    margin: 0;
    padding: 0;
    text-align: center;
}
.SG .sgLi{
    min-width: 19%;
    margin: 2% .35%;
    display: inline-flex;
    box-shadow: 0 2px 4px 2px rgba(0,0,0, .2);
}
.SG .sgLi:hover{
    box-shadow:0 5px 10px rgba(0,0,0,.15);}
.SG .box{
    width: 100%;
    height: 100vh;
    padding: 1% 2%;
    /* background: #F5F7F8; */
    min-height: 200px;
    max-height: 220px;
    box-sizing: border-box;
}
/*Styles */
.df .s1 .s2 .s3 .s4{list-style-type: decimal;}

.scrollable-content {
    max-height: calc(100% - 100px);
    overflow-y: auto;
}

/* --- Third Component  --- */

.usersOfThirdComponent {
    display: flex;
}

.pieChart {
    width: 20%;
    margin: auto
}

.scatterChart {
    width: 25%;
    margin: auto
}

.namesOfThirdComponent {
    margin: auto auto;
}

.usersOfThirdComponent {
    height: 350px;
    margin: auto;
    margin-bottom: 10px;
    padding: 1% 2%;
    max-width: 1440px;
    border-radius: 5px;
    /* background: #EAF6F6; */
    /* background: rgba(232, 233, 239, 1); */
    box-shadow: 0 2px 6px 0 rgba(0,0,0, .3);
}

/* .barChartOfThirdComponent{
    
} */

.usersOfFourthComponent {

    display: flex;
    margin: auto;
    margin-bottom: 10px;
    padding: 1% 2%;
    max-width: 1440px;
    border-radius: 5px;
    /* background: #EAF6F6; */
    /* background: rgba(232, 233, 239, 1); */
    box-shadow: 0 2px 6px 0 rgba(0,0,0, .3);
}

.namesOfFourthComponent {
    margin: auto auto;
}

.lineChart {
    /* width: 70%;
    height: 20%; */
    width: 1200px;
    height: 300px;
    /* overflow-x: auto; */
    overflow-y: auto;
    margin-left: 0;
}

.lineCanvas{
    margin-left: 0;
    /* height: 350px; */
    height: 300px !important;
    width: 1200px !important;
}

#downloadSection {
    display: flex;
    margin: auto;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.downloadButton {    
    margin-top: auto;
    margin-bottom: auto;    
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border: 0px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(9, 128, 76);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
    :hover {
        color: rgb(255, 255, 255);
        background-color: rgb(17, 97, 73);
        box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px, rgb(195 231 202) 0px 0px 0px 3px;
    }


}


.clearBtn {
    position: absolute;
    right: 195px;
    top: 7%;
    transform: translateY(-50%);
    
}

#clearBtn {
    /* background-color: #aa0444; */
    
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border: 0px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: #aa0444;
    box-shadow: #610227 0px 2px 3px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    height: 46px;
    transition: all 150ms ease-in-out 0s;
    :hover {
        color: rgb(255, 255, 255);
        background-color: rgb(17, 97, 73);
        box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px, rgb(195 231 202) 0px 0px 0px 3px;
    }

}

#recalculateBtn {
    
    
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border: 0px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(9, 128, 76);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    height: 46px;
    transition: all 150ms ease-in-out 0s;
    :hover {
        color: rgb(255, 255, 255);
        background-color: rgb(17, 97, 73);
        box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px, rgb(195 231 202) 0px 0px 0px 3px;
    }


}


.recalculateBtn {
    position: absolute;
    left: 195px;
    top: 7%;
    transform: translateY(-50%);
}