{% extends "base/main.html" %}
{% load static %}

{% block content %}

<main>
    <section id="form-container">
        

        <div id="welcome-message">
            <img id="logo" src="{% static 'images/new-icon.png' %}" />
            <h1>Hi There!</h1>
            <p id="welcome-message-p">Welcome to our video conferencing web app powered with computer vision. This project utilizes the WebRTC and incorporates image processing techniques to analyze participant behavior.</p>


            <form id="form">
                <div class="form-field">
                    <label for="room"></label>
                    <input type="text" name="room" style="text-transform:uppercase ;" placeholder="Room Name" required >
                </div>
                <div class="form-field">
                    <label for="email"></label>
                    <input type="email" name="email" placeholder="Email" required >
                </div>
                <div class="form-field">
                    <label for="username"></label>
                    <input type="text" name="username" placeholder="Username" required >
                </div>
    
                <div class="form-field">
                    <input type="submit" value="Join Stream">
                </div>

            </form>

            <div>
                <p id="lobby-icon-par" >Reach us at</p>
                <section id="lobby-icons-wrapper">
                    <div>
                        <a href="https://api.whatsapp.com/send?phone=+919101474958" target='_blank'>
                            <img class="lobby-icon-wa" id="whatsapp-btn" src="{% static 'images/wa.png' %}" />
                        </a>                        
                    </div>
            
                    <div>
                        <a href="mailto:imdengkhw@gmail.com">
                            <img class="lobby-icon" id="gmail-btn" src="{% static 'images/gmail.png' %}" />
                        </a>
                    </div>
                </section>
            </div>
        </div>

        <div id="image-container">
            <img src="{% static 'images/login-img.png' %}">
        </div>

       
        
    </section>

</main>

<script type="text/javascript">
    let form = document.getElementById('form')
    let handleSubmit = async (e) => {
        e.preventDefault()
        let room = e.target.room.value.toUpperCase()
        let name = e.target.username.value
        let email = e.target.email.value

        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()

        let UID = data.uid
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)
        sessionStorage.setItem('name', name)
        sessionStorage.setItem('email', email)

        window.open('/room/', '_self')
    }

    let whatsappMe = () => {

    }

    let emailMe = () => {
        
    }

    form.addEventListener('submit', handleSubmit)
    document.getElementById('whatsapp-btn').addEventListener('click', whatsappMe)
    document.getElementById('gmail-btn').addEventListener('click', emailMe)
</script>

{% endblock content %}